.bg1 {
    background-image: url('./images/sh-dogplay.gif');
}

.bg2 {
    background-image: url('./images/sh-dogplay.gif');
}

.bg3 {
    background-image: url('./images/sh-dogplay.gif');
}

.bg4 {
    background-image: url('./images/sh-dogplay.gif');
}