#classicformpage .view {
    background-image: url('./images/sh-dogplay.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

#classicformpage .card {
    background-color: rgba(0, 188, 212, 0.2);
}

#classicformpage h6 {
    line-height: 1.7;
}

#classicformpage .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#classicformpage label {
    color: #fff !important;
}